@use "../../styles/partials/global";

@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;



.compare-listing-page {
    height: 100vh;
    margin: 60px 90px;

    &__header {
        margin-bottom: 36px;
    }
}



.compare-page {
    display: flex;
    flex-direction: column;

    &__header {
        margin: 36px 90px 0 90px;
    }
}


