@use "../../styles/partials/global";

@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.results {


    &__top {}

    &__header {
        @include subheader-mobile;
        font-weight: 500;
        padding: 16px;
        color: $cobalt;
    }


    &__snkr-container {}

    &__accept {
        margin: 16px;
        padding: 16px;
        border: 1px solid black;
        border-radius: 5px;
    }


    &__subheader {
        @include subheader-mobile;
    }

    &__cta {
        display: flex;
        justify-content: center;
    }

    &__button {
        width: 40%;
        margin-left: 5px;
        margin-top: 8px;
        padding: 4px;
        border-radius: 5px;
        background-color: $white;
        border: 1px solid $cobalt;
        @include button-label-mobile;
    }

    &__bottom {
        margin: 16px;
        display: flex;
    }

    &__loading {
        display: flex;
        align-items: center;
    }

    &__ebay-search-header {
        @include subheader-mobile;
    }

    &__ebay-search {
        margin: 16px;
    }

    &__loader {
        position: fixed;
    z-index: 1000;
    }

    @media only screen and (min-width: $tablet-breakpoint) {

        &__header {
            @include page-copy;
            padding: 36px 90px;
        }

        &__snkr-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid $cobalt;
            border-radius: 10px;
            margin: 36px 90px;
            padding: 36px;
        }

        &__accept {
          /*   height: fit-content;
            align-content: center;
            width: 300px; */
        }
    
        &__subheader {
            @include subheader;
            margin-bottom: 16px;
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {

        &__snkr-container {
    
        }

        &__accept {
            /* position: absolute;
            right: 15%; */
        }
    }

}


.accept {
    @include body-mobile;

    @media only screen and (min-width: $tablet-breakpoint) {

        @include body-copy;
    }


}

.decline {
    @include body-mobile;

    @media only screen and (min-width: $tablet-breakpoint) {

        @include body-copy;
    }


}


.accept:hover {
    background-color: $cobalt;
    color: $white;
    font-weight: 600;
    opacity: .6;
}

.decline:hover {
    background-color: $red;
    border: 1px solid $red;
    color: $white;
    font-weight: 600;
    opacity: .6;
}


.hidden {
    display: none;
}


.no-scroll {
    overflow: hidden;
}