@use "../../styles/partials/global";

@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.results {

    &__top {}

    &__header {
        @include subheader-mobile;
        font-weight: 500;
        padding: 16px;
        color: $cobalt;
    }

    &__snkr-container {}

    &__subheader {
        @include subheader-mobile;
    }

    &__cta {
        display: flex;
        justify-content: center;
    }

    &__button {
        width: 40%;
        margin-left: 5px;
        margin-top: 8px;
        padding: 4px;
        border-radius: 5px;
        background-color: $white;
        border: 1px solid $cobalt;
        @include button-label-mobile;
        cursor: pointer;
    }

    &__bottom {
        margin: 16px;
        display: flex;
    }

    &__loading {
        display: flex;
        align-items: center;
    }

    &__ebay-search-header {
        @include subheader-mobile;
    }

    &__ebay-search {
        margin: 16px;
    }

    &__loader {
        position: fixed;
        z-index: 1000;
    }

    @media only screen and (min-width: $tablet-breakpoint) {

        &__top {
            display: flex;
            flex-direction: column;
            padding: 36px 90px;
        }

        &__header {
            @include page-copy;
            padding: unset;
        }

        &__confirm {
            display: flex;
            flex-direction: column;
            border: 1px solid $cobalt;
            padding: 36px;
            margin-top: 36px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
                rgb(51, 51, 51) 0px 0px 0px 3px;
        }

        &__confirm-header {
            display: flex;
            flex-direction: column;
            @include subheader;
        }

        &__confirm-description {
            display: flex;
            flex-direction: column;
            @include body-copy;
            margin-top: 24px;
        }

        &__confirm-list {
            display: flex;
            flex-direction: column;
            list-style: none;
            @include body-copy;
            margin-top: 24px;

            &--description {
                @include body-copy;
                margin-bottom: 8px;
            }
        }

        &__snkr-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 36px;
        }

        &__subheader {
            @include body-copy;
            margin-right: 16px;
        }

        &__button {
            width: unset;
            margin-left: unset;
            margin-top: 24px;
            @include button-label;
            margin-right: 16px;
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {
    }
}


.accept {
    @include body-mobile;

    @media only screen and (min-width: $tablet-breakpoint) {
        @include body-copy;
        width: 100px;
        padding: 16px;
    }


}

.decline {
    @include body-mobile;

    @media only screen and (min-width: $tablet-breakpoint) {
        @include body-copy;
        width: 100px;
        padding: 16px;
    }
}


.accept:hover {
    background-color: $cobalt;
    color: $white;
    font-weight: 600;
    opacity: .6;
}

.decline:hover {
    background-color: $red;
    border: 1px solid $red;
    color: $white;
    font-weight: 600;
    opacity: .6;
}


.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}