@use "../../styles/partials/global";

@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.results {

    &__header {
        @include page-header-mobile;
    }


    &__snkr-container {

    }

    &__accept {
        margin: 16px;
        padding: 16px;
        border: 1px solid black;
        border-radius: 5px;
    }


    &__subheader {
        @include subheader-mobile;
    }

    &__cta {
        display: flex;
        justify-content: center;
    }

    &__button {
        width: 40%;
        margin-left: 5px;
        margin-top: 8px;
        padding: 4px;
        @include button-label-mobile;

    }

    &__ebay-search-header {
        @include subheader-mobile;
    }

    &__ebay-search {
        margin: 16px;
    }

}


.accept {

}

.decline {

}


.hidden {
    display: none;
}