@use "../../styles/partials/global";

@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.navsearch {
    display: flex;
    gap: 1rem;
    margin-top: 16px;
    position: absolute;
    top: 60%;
    left: 30%;
    background-color: $cobalt;
    padding: 36px 16px;
    border-radius: 10px;

    &__top {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        flex-direction: column;
        width: 100%;
        margin: unset;
        position: unset;
        top: unset;
        left: unset;
        padding: 10px 25px;

        &__top {
            width: 100%;
            gap: 5%;

        }
    }
}

.navsearch-bar {

    flex: 1;
    min-width: 70%;
    padding: 11px 3px;
    border: 1px solid $lightgray;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    @include body-mobile;
    color: $black;

    &__button {
        background-color: $cobalt;
        border: 1px solid $white;
        border-radius: 0.5rem;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
        padding: 8px 16px;
        color: $white;
        @include button-label-mobile;
        width: fit-content;
        margin-left: 8px;
        height: 40px;

    }

    @media only screen and (min-width: $tablet-breakpoint) {

        flex: 1;
        min-width: 200px;
        width: 100%;
        padding: 0.75rem;
        border: 1px solid $lightgray;
        border-radius: 0.5rem;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
        @include body-copy;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;


        &__button {
            @include button-label;
            width: fit-content;
            margin-left: 16px;
            height: 100%;
            padding: .9rem;
            border: 1px solid $lightgray;
            opacity: 0.5;

        }

    }

}

.navsearch-bar-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media only screen and (min-width: $tablet-breakpoint) {}
}

.navsearch-bar__button:hover {
    background-color: $cobalt;
    opacity: 0.9;
}