@use "../../styles/partials/global";

@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.compare {
    display: flex;
    flex-direction: column;
    align-content: space-between;

    &__header-top {
        display: flex;
    }

    &__button {
        align-self: end;

        &--compare {
            border: 1px solid $cobalt;
            width: 150px;
            border-radius: 5px;
            background-color: $white;
            cursor: pointer;
            margin: 0 1px;
            padding: 8px;
            color: $cobalt;
        }

        &--submit {
            border: 1px solid $cobalt;
            width: 150px;
            border-radius: 5px;
            background-color: $white;
            cursor: pointer;
            margin: 0 1px;
            padding: 8px;
            color: $cobalt;
        }

    }



    &__section {
        display: flex;
        flex-direction: column;
    }

    &__subtitle {
        @include subheader-mobile;
        margin: 24px 16px 0 16px;
    }

    &__section-listings {
        display: flex;
        flex-direction: column;
    }

    &__top {}

    &__filter {
        &--label {
            @include button-label-mobile;
        }

        &--dropdown {
            margin-left: 8px;
            @include button-label-mobile;
        }
    }

    @media only screen and (min-width: $tablet-breakpoint) {

        &__header-top {
            display: flex;
        }

        &__compare-button {
            align-self: end;
            border: 1px solid $cobalt;
            width: 20px;
            border-radius: 2px;
            background-color: $white;
            cursor: pointer;
            margin: 0 1px;
        }

        &__text {
            margin: 36px 40px 0 0;

            &--pageheader {
                @include page-copy;
            }

            &--subheader {
                @include body-copy;
                margin-top: 24px;
            }
        }

        &__section {
            border: 1px solid $black;
            margin-bottom: 24px;
            margin-top: 24px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
                rgb(51, 51, 51) 0px 0px 0px 3px;
        }

        &__section-listings {
            padding: 0 16px 16px 16px;
        }

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 36px 40px 24px 40px;
        }

        &__subtitle {
            @include subheader;
            margin: unset;
        }

        &__filter {
            &--label {
                @include small-text;
            }

            &--dropdown {
                margin-left: 8px;
                padding: 3px 6px;
                @include small-text;
                border: 1px solid $cobalt;
                border-radius: 5px;
            }
        }

        &__disclaimer {
            @include small-text;
            margin-top: 36px;
            display: flex;
            justify-content: center;
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        margin: 0 90px 36px 90px;
    }
}


.snkr-listings {
    display: flex;
    margin: 16px;
    justify-content: center;
    gap: 5%;

    &__individual {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 240px;
        width: 50%;
        padding: 16px;
        border-radius: 5px;
        box-shadow: rgba(0, 75, 173, 0.649) 0px 2px 8px 0px;
        cursor: pointer;
    }

    &__price {
        @include button-label-mobile;
    }

    &__evaluation {
        @include button-label-mobile;
        margin-top: 3px;

        &--style {
            background-color: $black;
            color: $white;
            padding: 2px 4px;
        }
    }

    &__image {
        width: 175px;
        height: 200px;
        margin-bottom: 8px;
        border-radius: 5px;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        gap: 2%;
        justify-content: unset;

        &__individual {
            width: 200px;
        }
    }
}

.ebay-listings {
    display: flex;
    margin: 16px;
    justify-content: center;
    gap: 5%;

    &__individual {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 240px;
        width: 50%;
        padding: 16px;
        border-radius: 5px;
        box-shadow: rgba(0, 75, 173, 0.649) 0px 2px 8px 0px;
    }

    &__title {
        @include button-label-mobile;
        font-size: 10px;
        margin-bottom: 8px;
        height: 40px;
    }

    &__image {
        width: 120px;
        height: 150px;
        margin-bottom: 8px;
        border-radius: 5px;
    }

    &__label {
        @include button-label-mobile;

        &--type {
            margin-bottom: 3px;
            @include button-label-mobile;
        }
    }

    &__data {
        @include button-label-mobile;

        &--type {
            background-color: $black;
            color: $white;
            padding: 2px 4px;
        }
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        gap: 2%;
        justify-content: unset;

        &__individual {
            width: 200px;
        }
    }

    @media only screen and (min-width: $desktop-breakpoint) {}
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;

    &__pageNumbers {
        display: flex;
        list-style: none;
    }

    &__button {
        border: 1px solid $cobalt;
        width: 20px;
        border-radius: 2px;
        background-color: $white;
        cursor: pointer;
        margin: 0 1px;
    }

    &__controls {
        border: 1px solid $cobalt;
        width: 40px;
        border-radius: 2px;
        background-color: $white;
        margin: 0 5px;
        padding: 1px;
        cursor: pointer;
    }
}

.pagination__button[disabled] {
    background-color: $cobalt;
    color: white;
}

.pagination__button:hover {
    cursor: pointer;
}

.snkr-listings__individual:hover {
    background-color: $lightgray;
}

.compare__button--compare:hover, .compare__button--submit:hover  {
    border: 1px solid $cobalt;
            width: 150px;
            border-radius: 5px;
            background-color: $cobalt;
            cursor: pointer;
            margin: 0 1px;
            padding: 8px;
            color: $white;
            font-size: 600;
}