@use "../../styles/partials/global";

@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.faqs-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    &__header {
        @include page-header-mobile;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 36px 90px;

        &__header {
            @include page-copy;

        }
    }
}

.faqs {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 15px;
}


