@use "../../styles/partials/global";

@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px 0;
    background-color: $white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden; 

    .table__header-row {
        background-color: $cobalt;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        position: sticky;
        top: 0;
        z-index: 1;

        th {
            background-color: $cobalt;
            padding: 10px;
            text-align: left;
            width: 150px; 
        }
    }
}


.table td {
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
}