@use "../../styles/partials/global";

@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


.buttontooltip-trigger .buttontooltip {
    @include body-mobile;
    min-width: fit-content;
    background-color: $cobalt;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    z-index: 1;
    white-space: normal;
    width: 100px;

    @media only screen and (min-width: $tablet-breakpoint) {
        @include body-copy;
        width: 200px;
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        white-space: nowrap;
    }
}

.buttontooltip-trigger:hover .buttontooltip {
    opacity: 1;
}

.buttontooltip-trigger {
    position: relative;
    display: inline;
}

.buttontooltip-trigger img {
    width: 20px;
}

.buttontooltip-right {
    top: 5px;
    left: 105%;
}

.buttontooltip-left {
    top: 5px;
    right: 105%;
}

.buttontooltip-top {
    bottom: 105%;
    left: 0%;
}

.buttontooltip-bottom {
    top: 105%;
    left: -3%;
    margin-top: 10px;

    @media only screen and (min-width: $tablet-breakpoint) {
        top: 105%;
        left: -55%;
        margin-top: 10px;
    }

    @media only screen and (min-width: $desktop-breakpoint) {
        top: 105%;
        left: -100%;
        margin-top: 10px;
    }
}

.buttontooltip-top::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $cobalt transparent transparent transparent;
}


.buttontooltip-bottom::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 30%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $cobalt transparent;
}


.buttontooltip-right::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent $cobalt transparent transparent;
}


.buttontooltip-left::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent $cobalt;
}