@use "../../styles/partials/global";

@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.footer {
    height: 50px;
    background-color: $cobalt;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    &__copyright {
        @include body-mobile;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        height: 100px;
        margin-top: 56px;
    
        &__copyright {
            @include body-copy;
        }
    }
}