@use "../../styles/partials/global";

@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.home {
    padding: 6px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__group-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

    }

    &__text {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 16px;
    }

    &__small-text {
        @include small-text-mobile;
        display: flex;
        align-items: center;

    }

    &__header {
        @include page-header-mobile;
        margin-top: 8px;
    }

    &__body {
        @include body-mobile;
        margin-top: 16px;
    }

    &__hero {
        flex: 1;
        display: flex;
        justify-content: flex-start;
    }

    &__arrow {
        width: 16px;
        height: 16px;
        margin-left: 6px;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        margin: 90px;
        padding: 0;

        &__group-1 {
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            padding: 56px;
        }

        &__text {
            flex: 2;
            padding: 16px 0px;
            margin-left: 24px;
        }

        &__small-text {
            @include small-text;

        }

        &__header {
            @include page-copy;
        }

        &__body {
            @include body-copy;
            margin-bottom: 16px;
        }

        &__hero {
            flex: 1;
            display: flex;
            justify-content: center;
        }

        &__arrow {
            width: 16px;
            height: 16px;
            margin-left: 6px;
        }

    }

}


.trending {
    display: flex;
    width: 100%;

    @media only screen and (min-width: $tablet-breakpoint) {
    }
}


.trending-section {

    display: flex;
    flex-direction: column;
    margin: 24px 16px 16px 16px;

    &__header {
        @include subheader-mobile;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 8px 16px;
        @include body-mobile;
    }

    @media only screen and (min-width: $tablet-breakpoint) {
        display: flex;
        flex-direction: column;
        margin: 36px 16px 16px 16px;

        &__header {
            @include subheader;
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            gap: 8px 16px;
            @include body-copy;
        }
    }
}


.text {

    &__primary {
        color: $cobalt;

    }

    &__secondary {
        color: $black;
    }
}


